.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { 
        grid-area: 2 / 2 / 3 / 3; 
    }

    img {
        max-width: 100%;
        height: auto;
      }

    .bordeada{
        border: 2px solid red;
    }  